<nav class="navbar">
  <button class="burger-menu" (click)="toggleMenu()">
    &#9776;
    <!-- Icono de hamburguesa -->
  </button>
  <ul class="menu" [class.open]="menuOpen">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/gastos-fijos"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        >Gastos Fijos</a
      >
    </li>
    <li>
      <a
        routerLink="/gastos-ocasionales"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        >Gastos Ocasionales</a
      >
    </li>
    <li>
      <a
        routerLink="/gastos-list"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        >Todos mis gastos</a
      >
    </li>
    <li>
      <a
        routerLink="/estadisticas"
        routerLinkActive="active-link"
        (click)="toggleMenu()"
        >Gráficos y Estadísticas</a
      >
    </li>
  </ul>
</nav>
