<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/home"><img src="../../../assets/icon.png" alt="Logo" class="logo-image" /></a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/gastos-fijos" routerLinkActive="active-link">Gastos Fijos</a></li>
    <li><a routerLink="/gastos-ocasionales" routerLinkActive="active-link">Gastos Ocasionales</a></li>
    <li><a routerLink="/gastos-list" routerLinkActive="active-link">Todos mis gastos</a></li>
    <li><a routerLink="/estadisticas" routerLinkActive="active-link">Gráficos y Estadísticas</a></li>
  </ul>
  <div class="navbar-profile">
    <img src="../../../assets/user.png" alt="Perfil" class="profile-icon" />
  </div>
</nav>
