/* Barra de navegación sin hover global */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0); /* Fondo semitransparente */
  position: fixed; /* Siempre visible en la parte superior */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.navbar.open {
  background-color: rgb(0, 74, 65); /* Color con transparencia al abrir */
  transition: 0.2s;
}

.burger-menu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados para resaltar solo el área cercana */
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.burger-menu.open {
  background-color: rgb(0, 74, 65); /* Color con transparencia al abrir */
}

/* Efecto hover en el botón */
.burger-menu:hover {
  background-color: rgb(0, 74, 65);
  transform: scale(1.1); /* Pequeño zoom para resaltar el botón */
}

.burger-menu:active {
  transform: rotate(90deg); /* Efecto de rotación */
  color: #b2dfdb;
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0); /* Fondo transparente por defecto */
  color: white;
  position: fixed; /* Superpone al resto del contenido */
  top: 50px; /* Ajusta para colocarlo debajo de la barra */
  left: 0;
  width: 100%;
  max-height: 0; /* Oculto inicialmente */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 1000; /* Asegura que esté encima de todo */
}

.menu.open {
  max-height: 300px; /* Espacio suficiente para desplegar */
  background-color: rgb(0, 74, 65); /* Color con transparencia al abrir */
}

.menu li {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu li a:hover {
  background-color: #b2dfdb;
  color: #004a41;
}



.menu li a.active-link {
  background-color: #fffeed;
  color: #00796b;
  box-shadow: 0 0 10px rgba(255, 251, 0, 0.5);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Debajo del menú pero encima del contenido */
}
